@use 'partials/variables.scss'   as *;
@use 'partials/login.scss' as *;
@use 'partials/calendar.scss' as *;
@use 'partials/guestCounter.scss' as *;
@use 'partials/responsive.scss' as *;
body {
    font-family: Arial, sans-serif;
    background-color: $white  !important;
    margin:0;
    padding:0;
  }
header{
    .navbar{
      padding:1.5rem 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      .logo{
        max-width: 50%;
        width:100%;
      }
    }
    .mobile{
      display: none;
    }
  }
  .section{
    // Hero Section Home page
    &_hero{
      height: 100vh;
      &_image{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-image: url('../css/images/plane.jpg');
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .introVideo {
          width: 100vw;
          height: 56.25vw;
          min-height: 100vh;
          min-width: 177.77vh;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      }
      .hero{
        &_group{
          position: relative;
          z-index:10;
          color: white;
          top:6rem;
        }
      }
    }
    // Products Section home page
    &_products{
      margin-top: 10rem;
      .row{
        --bs-gutter-x:1.5rem;
        --bs-gutter-y:3.5rem;
      }
      .card{
        overflow: hidden;
        height: 100%;
        @extend .transition-5s;
        img{
          @extend .transition-5s;
        }
        &:hover img{
          transform: scale(1.1);
          @extend .transition-5s;
        }
      }
      .location{
        color: $dark-red;
        &::before{
          content: "";
          background-image: url('../css/images/Location.png');
          display: inline-block;
          background-repeat: no-repeat;
          top:1rem;
          position: relative;
          width:2rem;
          height: 2rem;
        }
      }
    }
  }

