@use './variables' as *;
.section
{
    &_login{
       input{
        border:none;
       }
       input:focus{
        outline: none;
       }
       label{
        text-transform: uppercase;
        font-size: 13px;
       }
       img{
        width:100%;
        height: 90vh;
        object-fit: cover;
       }
       form{
        width:40%;
       }
       &_group{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top:13rem;
       }
       &_input{
        display: flex;
        flex-direction: column;
        border: 2px solid $dark-grey;
        border-radius: 0.4rem;
        padding: 0.4rem;
       }
       &_input:has(input:focus),
       &_input:has(input:active) {
         border: 2px solid $dark-red;
       }
       &_registration{
        margin-top: 0.8rem;
        width:100%;
        max-width:14rem;
        a{
          color:$extra-dark-grey;
          @extend .transition-3s;
          &:hover{
            @extend .transition-3s;
            color: $dark-red;
          }
        }
       }
    }

}